{{!< default}}


{{#foreach posts}}
{{#is "home"}}
{{#if featured}}
    {{> post-short}}
{{/if}}
{{else}}
    {{> post-short}}
{{/is}}
{{/foreach}}


{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}

<div class="inner cover container post post-foot">
</div>

